.vs/*
HistoryQuest.DataBase/obj/*
HistoryQuest.DataBase/bin/*
HistoryQuest.Domain/obj/*
HistoryQuest.Domain/bin/*
HistoryQuest.Web/obj/*
HistoryQuest.Web/bin/*
HistoryQuest.Domain/connectionStrings.config
HistoryQuest.DataBase/HistoryQuest.DataBase.dbmdl
HistoryQuest.DataBase/HistoryQuest.DataBase.jfm
*.suo
.vs/config/applicationhost.config