<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="HistoryQuest.Domain.Properties.Settings.HistoryQuest_DataBaseConnectionString"
    connectionString="Data Source=VLADPC\SQLEXPRESS;Initial Catalog=HistoryQuest.DataBase;Integrated Security=True"
    providerName="System.Data.SqlClient" />
</connectionStrings>